.quitar_float{
  float: none;
}
.espacio_arriba{
  margin-top: 70px;
}
.espacio_abajo{
  margin-bottom: 50px;
}
.k2d{
  font-family: 'K2D', sans-serif;
}
.medio{
  font-size: 1em;

}
.grande{
  font-size: 3em;
}
.espacio_derecha{
  margin-left: 1em;
}
