<!DOCTYPE html>
<html lang="en">
<head>
  <title>TECHealth</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/main.css">  
  <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    	/* Sticky footer styles-------------------------------------------------- */
    	html {
    	  position: relative;
    	  min-height: 100%;
    	}
    	body {
    	  /* Margin bottom by footer height */
    	  margin-bottom: 60px;
    	}
    	.footer {
    	  position: absolute;
    	  bottom: 0;
    	  width: 100%;
    	  /* Set the fixed height of the footer here */
    	  height: 60px;
    	  background-color: #f5f5f5;
    	}
    	/* Custom page CSS
    	-------------------------------------------------- */
    	/* Not required for template or sticky footer method. */
    	.container {
    	  width: auto;
    	  max-width: 680px;
    	  padding: 0 15px;
    	}
    	.container .text-muted {
    	  margin: 20px 0;
    	}
	</style>

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/"><img src="./images/health.png" alt="LOGO" img style="margin: 10px 10px"/></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/centros_atencion">Centros de Atención</a></li>
        <li><a href="/funcionarios">Funcionarios</a></li>
        <li><a href="/enfermedades">Enfermedades</a></li>
        <li><a href="/tratamientos">Tratamientos</a></li>
        <li><a href="/pacientes">Pacientes</a></li>
      </ul>
    </div>
  </nav>
