<%include partials/_header%>
    <div class="container">
      <h1 class="k2d">Citas</h1>
      <div class="row">
        <!--TABLA-->
        <div class="col-md-7">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Identificador</th>
                <th>Estado</th>
                <th>Area</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Observaciones</th>
                <th>Operaciones</th>
              </tr>
            </thead>

          </table>
        </div>
      </div>
    </div>
<%include partials/_footer%>
